<link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}dataTables.css" />
<header id="nav-bar" >
	<div id="header-container">
    	<a id="backbutton" class="win-backbutton" href="{{NeuralRutaApp.Rutas}}"></a>
        <h5>PRODUCTOS</h5>
        <h2> Listado</h2>    
	</div>
</header>

<div class="row-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p class="lead">Listado de Productos</p>
			<button class="win-command orange" rel="tootlip" onclick="frmAgregarProducto()">
				<span class="win-commandicon win-commandring icon-plus-5"></span>
			    <span class="win-label" >Agregar</span>
			</button>
		</div>
	</div>
	<br />
	
	<table class="table table-striped table-condensed table-hover well well-large" id="Listado">
		<thead>
			<tr>
				<th>#</th>
				<th>Codigo</th>
				<th>Nombre del Producto</th>
				<th>Status</th>
				<th></th>
			</tr>
	    </thead>
	    <tbody>
			{% set Contador = 0 %}
			{% for Dato in Consulta %}
			{% set Contador = Contador + 1 %}
			<tr class="center">
				<td>{{Contador}}</td>
				<td>{{Dato.Codigo}}</td>
				<td>{{Dato.NombreProducto}}</td>
				{% if Dato.Status == 'ACTIVO'%}
	   			<td><span class="label label-success">{{Dato.Status}}</span></td>
	   			{% endif %}
	   			{% if Dato.Status == 'INACTIVO' %}
	   			<td><span class="label label-important">{{Dato.Status}}</span></td>
	   			{% endif %}
				<td>
				<div class="text-center">
					<ul class="unstyled">
					    <li>
					        <a onclick="javascript: frmEditarProducto('{{Dato.Id|Encriptacion}}')" class="btn btn-info"><span class="icon-pencil"></span> </a>
					        <a onclick="javascript: frmEliminarProducto('{{Dato.Id|Encriptacion}}')" class="btn btn-info"><span class="icon-cross-4"></span></a>
					        <a onclick="javascript: frmVisualizarProducto('{{Dato.Id|Encriptacion}}')"class="btn btn-info"><span class="icon-search"></span ></a>
					    </li>
					</ul>
				</div>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
</table> 
</div>
<br /><br /><br />
<script type="text/javascript"  src="{{NeuralRutasApp.RutaJs}}jquery.dataTables.min.js"> </script>
<script type="text/javascript"  src="{{NeuralRutasApp.RutaJs}}jquery.dataTables.bootstrap.js"></script>
{{Script|raw}}

<script>
/*--Funcion Que Muestra La Vista De Agregar Producto--*/
    function frmAgregarProducto() {
        jQuery.ajax({
           url: '{{NeuralRutasApp.RutaURLBase}}Administrador/Productos/AgregarProducto',
           dataType: 'html',
			beforeSend: function() {
        		jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
        	},
           success: function(datos) {
            jQuery('#Contenido').html(datos);
            
           } 
        });  
    }
</script>
<script>
/*--Funcion Que Muestra La Vista De Editar Producto--*/
    function frmEditarProducto(Id) {
        jQuery.ajax({
           url: '{{NeuralRutasApp.RutaURLBase}}Administrador/Productos/EditarProducto/' + Id,
           dataType: 'html',
           beforeSend: function() {
        		jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
        	},
           success: function(datos) {
            jQuery('#Contenido').html(datos);
            
           } 
        });  
    }
</script>
<script>
/*--Funcion Que Muestra La Vista De Eliminar Producto--*/
    function frmEliminarProducto(Id) {
        jQuery.ajax({
           url: '{{NeuralRutasApp.RutaURLBase}}Administrador/Productos/EliminarProducto/' + Id,
           dataType: 'html',
           beforeSend: function() {
        		jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
        	},
           success: function(datos) {
            jQuery('#Contenido').html(datos);
            
           } 
        });  
    }
</script>
<script>
/*--Funcion Que Muestra La Vista De Visualizar Producto--*/
    function frmVisualizarProducto(Id) {
        jQuery.ajax({
           url: '{{NeuralRutasApp.RutaURLBase}}Administrador/Productos/VisualizarProducto/' + Id,
           dataType: 'html',
           beforeSend: function() {
        		jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
        	},
           success: function(datos) {
            jQuery('#Contenido').html(datos);
            
           } 
        });  
    }
</script>

<script > 
jQuery(document).ready(function(){
    jQuery('#Listado').dataTable();
});
</script>