<header id="nav-bar" >
	<div id="header-container">
		<a id="backbutton" class="win-backbutton" href="{{NeuralRutasApp.RutaURLBase}}Administrador/Productos"></a>
        	<h5>PRODUCTOS <span class=" icon-arrow-right-2"></span></h5>
        	<h2>Visualizar Producto</h2>
	</div>
</header>
<br />
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="tab-content">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab"><span class="icon-signup"></span > Informacion Basica</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
			    	<fieldset>
			    		<legend class="text-info"><h4 style="padding-left: 25px;">DATOS DEL PRODUCTO</h4></legend>
			    	</fieldset>
			        	<div id="pivot" class="pivot slide">
			            	{% for Datos in Consulta%}
								<table class="table table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Codigo</th>
											<th>Nombre del Producto</th>
											<th>Status</th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tr class="center">
										<td>1</td>
										<td>{{Datos.Codigo}}</td>
										<td>{{Datos.NombreProducto}}</td>
										{% if Datos.Status == 'ACTIVO'%}
										<td><span class="label label-success">{{Datos.Status}}</span></td>
										{% endif %}
										{% if Datos.Status == 'INACTIVO' %}
										<td><span class="label label-important">{{Datos.Status}}</span></td>
										{% endif %}
										<td >
										</td>
									</tr>
								</table>
							{% endfor %}
							<br />
			                <a class="btn btn-info" onclick="javascript: frmListadoProducto()"><span class="icon-back"> Regresar</span ></a>
			            </div>
			            <br /><br /><br />
				</div>
			</div>
		</div>
	</div>
</div>