<link rel="stylesheet" type="text/css" href="{{NeuralRutasApp.RutaCss}}dataTables.css" />
<header id="nav-bar" >
	<div id="header-container">
    	<a id="backbutton" class="win-backbutton" href="{{NeuralRutasApp.RutaURLBase}}Administrador"></a>
        <h5>CONTROL DE INVENTARIO</h5>
        <h2> Listado</h2>    
	</div>
</header>

<div class="row-fluid">
	<div class="row-fluid">
		<div class="span12">
			<p class="lead">Listado de productos agregados a inventario</p>
			<button class="win-command orange" rel="tootlip" onclick="frmAgregarProductoInventario()">
				<span class="win-commandicon win-commandring icon-plus-5"></span>
			    <span class="win-label" >Agregar</span>
			</button>
		</div>
	</div>
	<br />
	
	<table class="table table-striped table-condensed table-hover well well-large" id="Listado">
		<thead>
			<tr>
				<th style="text-align: left;">#</th>
				<th style="text-align: left;">Codigo</th>
				<th style="text-align: left;">Nombre del Producto</th>
				<th style="text-align: left;">Precio de Venta</th>
				<th style="text-align: left;">Status</th>
				<th></th>
			</tr>
	    </thead>
	    <tbody>
	    	{% set Contador = 0 %}
	    	{% for Dato in Consulta %}
			{% set Contador = Contador + 1 %}
			<tr class="center">
				<td style="text-align: left;">{{Contador}}</td>
				<td style="text-align: left;">{{Dato.Codigo}}</td>
				<td style="text-align: left;">{{Dato.NombreProducto}}</td>
				<td style="text-align: left;">$ {{Dato.Precio_Venta}}</td>
				{% if Dato.Status == 'ACTIVO'%}
	   			<td style="text-align: left;"><span class="label label-success">{{Dato.Status}}</span></td>
	   			{% endif %}
	   			{% if Dato.Status == 'INACTIVO' %}
	   			<td style="text-align: left;"><span class="label label-important">{{Dato.Status}}</span></td>
	   			{% endif %}
	   			<td >
	   			<div class="text-center">
					<ul class="unstyled">
					    <li>
					        <a onclick="javascript: frmEditarProductoInventario('{{Dato.Id|Encriptacion}}')" class="btn btn-info"><span class="icon-pencil"></span> </a>
					        <a onclick="javascript: frmEliminarProductoInventario('{{Dato.Id|Encriptacion}}')" class="btn btn-info"><span class="icon-cross-4"></span></a>
					        <a onclick="javascript: frmVisualizarProductoInventario('{{Dato.Id|Encriptacion}}')"class="btn btn-info"><span class="icon-search"></span ></a>
					    </li>
					</ul>
				</div>
				</td>
			</tr>
			{% endfor %}
	    </tbody>
	</table> 
</div>
<script type="text/javascript"  src="{{NeuralRutasApp.RutaJs}}jquery.dataTables.min.js"> </script>
<script type="text/javascript"  src="{{NeuralRutasApp.RutaJs}}jquery.dataTables.bootstrap.js"></script>
{{Script|raw}}
<script>
/*--Funcion Que Muestra La Vista De Agregar Producto Inventario--*/
	function frmAgregarProductoInventario() {
		jQuery.ajax({
			url: '{{NeuralRutasApp.RutaURLBase}}Administrador/ControlInventario/AgregarProductoInventario',
			dataType: 'html',
			beforeSend: function() {
				jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
			},
			success: function(datos) {
				jQuery('#Contenido').html(datos);
			}
		});
	}
</script>

<script >
/*--Funcion Que Agrega El Estilo De La Tabla--*/ 
jQuery(document).ready(function(){
    jQuery('#Listado').dataTable();
});
</script>

<script>
/*--Funcion Que Muestra La Vista De Editar Producto--*/
    function frmEditarProductoInventario(Id) {
        jQuery.ajax({
           url: '{{NeuralRutasApp.RutaURLBase}}Administrador/ControlInventario/EditarProductoInventario/' + Id,
           dataType: 'html',
           beforeSend: function() {
        		jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
        	},
           success: function(datos) {
            jQuery('#Contenido').html(datos);
            
           } 
        });  
    }
</script>
<script>
/*--Funcion Que Muestra La Vista De Visualizar Producto Inventario--*/
    function frmVisualizarProductoInventario(Id) {
        jQuery.ajax({
           url: '{{NeuralRutasApp.RutaURLBase}}Administrador/ControlInventario/VisualizarProductoInventario/' + Id,
           dataType: 'html',
           beforeSend: function() {
        		jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
        	},
           success: function(datos) {
            jQuery('#Contenido').html(datos);
            
           } 
        });  
    }
</script>
<script>
/*--Funcion Que Muestra La Vista De Visualizar Producto Inventario--*/
    function frmEliminarProductoInventario(Id) {
        jQuery.ajax({
           url: '{{NeuralRutasApp.RutaURLBase}}Administrador/ControlInventario/EliminarProductoInventario/' + Id,
           dataType: 'html',
           beforeSend: function() {
        		jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
        	},
           success: function(datos) {
            jQuery('#Contenido').html(datos);
            
           } 
        });  
    }
</script>
