{% extends "General/Base.html" %}

{% block Contenido %}
<div class="text-center"><h1>Ventas</h1></div>


<div class="win-commandlayout">
      <a class="win-command" href="#">
         <span class="win-commandicon win-commandring icon-home"></span>
         <span class="win-label">Home</span>
      </a>
 
      <hr class="win-command" />
      <button class="win-command">
         <span class="win-commandicon win-commandring icon-reload"></span>
         <span class="win-label">Reload</span>
      </button>
</div>
{% endblock Contenido %}  