{% extends "General/Errores/BaseError.html" %}

{% block Contenido %}

	<div class="page-header">
		<br />
		<h2 class="text-center">ERROR DE USUARIO O CONTRASEÑA</h2>
	</div>
	<div class="text-center animated tada"><img src="{{NeuralRutasApp.RutaImagenes}}info.png" /> </div>
	<div class="control-group">
		<div class="controls">
			<div class="text-center">
				<p class="lead" ><br/>Favor de verificar e intentarlo de nuevo</p><br />
				<div class="text-center"><a type="submit" class="btn btn-info" href="{{NeuralRutasApp.RutaURLBase}}POS"><span class="icon-reply"></span><span> Regresar</span></a></div>
			</div>
		</div>
	</div>
	
{% endblock Contenido %}