<header id="nav-bar" >
	<div id="header-container">
    	<a id="backbutton" class="win-backbutton" href="{{NeuralRutasApp.RutaURLBase}}Administrador/Proveedores"></a>
        <h5>PROVEEDORES <span class=" icon-arrow-right-2"></span></h5>
        <a class="header-dropdown dropdown-toggle accent-color"  href="#" >
        	<h2>Editar</h2>
        </a>
	</div>
</header>
<div class="row-fluid">
<div class="alert alert-block">
	<button type="button" class="close" data-dismiss="alert"></button>
  	<h4>Precaución <br /></h4>
  	Este registro puede ser modificado.
</div>
<div class="span10 offset1">
		<form class="form-horizontal" id="Form" name="Form" role="form" method="POST">
			{% for Datos in Consulta %} 
			<div class="row-fluid">
			        <ul class="nav nav-tabs">
			        	<li class="active"><a href="#tab1" data-toggle="tab"><span class="icon-user-3"></span > Información Básica</a></li>
			            <li><a href="#tab2" data-toggle="tab"><span  class="icon-phone"></span > Datos Representante</a></li>
			        </ul>
					<div class="tab-content">
        				<div class="tab-pane active" id="tab1">
					        <fieldset>
					        	<legend class="text-info"><h4 style="padding-left: 25px;">DATOS PROVEEDOR</h4></legend>
							</fieldset>
						<br />	
							<div class="control-group">
								<label class="control-label">RFC</label>
				                <div class="controls">
				               		<input type="text" class="input-medium search-query" id="RFC" name="RFC" placeholder="RFC" value="{{Datos.RFC}}"/><br />
				                </div>
							</div>
							<div class="control-group">
								<label class="control-label">Nombre Comercial</label>
				                <div class="controls">
			               	 		<input type="text" class="input-medium search-query" id="Nombre_Comercial" name="Nombre_Comercial" placeholder="Nombre" value="{{Datos.Nombre_Comercial}}"/><br />
				                </div>
							</div>
							<div class="control-group">
								<label class="control-label">Razón Social</label>
				                <div class="controls">
				               		<input type="text" class="input-medium search-query" id="Razon_Social" name="Razon_Social" placeholder="Razon Social" value="{{Datos.Razon_Social}}"/><br />
				                </div>
							</div>
							<div class="control-group">
								<label class="control-label" >Teléfono Proveedor</label>
				                <div class="controls">
				                	<input type="text"  class="input-large" id="Telefono_Proveedor" name="Telefono_Proveedor" placeholder="Telefono" value="{{Datos.Telefono_Proveedor}}"/>
				                </div>
							</div>
							<div class="control-group">
								<label class="control-label">URL</label>
				                <div class="controls">
				                	<input type="text"  class="input-large"  id="URL" name="URL" value="{{Datos.URL}}" placeholder="http://www.empresa.com"/>
				                </div>
							</div>
							<div class="control-group">
								<label class="control-label">Dirección</label>
				                <div class="controls">
				                	 <textarea class="input-large" id= "Direccion" name="Direccion"> {{Datos.Direccion}}</textarea> 
								</div>
							</div>
					</div>
					<div class="tab-pane" id="tab2">
						<fieldset>
							<legend class="text-info"><h4 style="padding-left: 25px;"> CONTACTO</h4></legend>
						</fieldset>
						<div class="control-group">
							<label class="control-label">Nombre Representante</label>
			                <div class="controls">
			                	<input type="text"  class="input-large"  id="Nombre_Representante" name="Nombre_Representante" value="{{Datos.Nombre_Representante}}"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Cargo</label>
			                <div class="controls">
			                	<input type="text"   class="input-large"  id="Cargo" name="Cargo" value="{{Datos.Cargo}}"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Teléfono Principal </label>
			                <div class="controls">
			                	<input type="text"   class="input-large"  id="Telefono_Representante" name="Telefono_Representante" value="{{Datos.Telefono_Representante}}"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Teléfono Móvil</label>
			                <div class="controls">
			                	<input type="text"   class="input-large"  id="Movil_Representante" name="Movil_Representante" value="{{Datos.Movil_Representante}}"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Correo</label>
			                <div class="controls">
			                	<input type="text"   class="input-large"  id="Correo" name="Correo" value="{{Datos.Correo}}"/>
							</div>
						</div>
						<div class="control-group">
						{% if Datos.Status == 'ACTIVO'%}
						 <label class="control-label">ACTIVO</label>
						  <div class="controls"> 
						   <input type="checkbox"  id="Status" name="Status" checked="true"/>
						    </div>
						{% endif%}
						{% if Datos.Status == 'INACTIVO'%}
						 <label class="control-label">ACTIVO</label>
						  <div class="controls">
						  <input type="checkbox"  id="Status" name="Status" />
						    </div>
						{% endif%}
						</div>
					</div>
    			</div>
			</div>
		{% endfor %}
		<br />	
		<input  type="hidden" id="Validar" name="Validar"  value="{{Validar}}"/>
		<input  type="hidden" id="Id" name="Id"  value="{{Id}}"/>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn"><span class="icon-disk-2"></span > Modificar</button>   &nbsp;&nbsp;
				<button  class="btn btn-inverse" onclick="javascript:frmListadoProveedores(); " class="btn"><span class="icon-cross"></span > Cancelar</button>
			</div>
		</div> 
		<div id="alerts-container"></div>
			<div id="toast-example1" class="toast toasttext02 fade">
			   <button type="button" class="close" data-dismiss="alert"></button>
			   <div class="toast-body">
			      <h4 class="toast-heading">ERRROR</h4>
			      <p>Faltan campos (*) requeridos para realizar el proceso de captura.</p>
			   </div>
			</div>
		<br /><br /><br />
		</form> 
		</div>
</div> 
<script src="{{NeuralRutasApp.RutaJs}}jquery.maskedinput.min.js" type="text/javascript"></script>			
{{Script|raw}}
	
<script>
	/*-- Calcula El Porcentaje De La Validacion De Datos Del Proveedor--*/
	function  CalculaPorcentajeRegistroEditar() {
		var TotalResgistro=0;	
		if (jQuery('#RFC').val() != ''){ TotalResgistro = TotalResgistro + 20;}
		if (jQuery('#Nombre_Comercial').val() != ''){ TotalResgistro = TotalResgistro + 20;}
		if (jQuery('#Razon_Social').val() != ''){ TotalResgistro = TotalResgistro + 20;}
		if (jQuery('#Telefono_Proveedor').val() != ''){ TotalResgistro = TotalResgistro + 20;}
		if (jQuery('#Nombre_Representante').val() != ''){ TotalResgistro = TotalResgistro + 20;}	 	
		return TotalResgistro;		
	}
</script>
<script>
	/*-- Editar Proveedor --*/
	function fnEditarProveedor() {
		jQuery.ajax({
			url: '{{NeuralRutasApp.RutaURLBase}}Administrador/Proveedores/EditarProveedor',
			data: jQuery('#Form').serialize(),
			type: 'POST',
			beforeSend: function() {
        		jQuery('#Contenido').html('<br /><br /><br /><br /><span><img src="{{NeuralRutasApp.RutaImagenes}}loader.gif" /> Procesando, Espere por favor ...</span>');
        	},
			success: function(data) {
				jQuery('#Contenido').html(data);	
			}   
		});
	}
</script>
<script>

	/*--Se Encarga De Editar Datos Y Redireccionar Al listado de Proveedores --*/
	jQuery(document).ready(function(){
		jQuery("Form").keypress(function(e) {
	        if (e.which == 13) {
	            return false;
	        }
    	});
		jQuery('#RFC').focus();	
		jQuery('#Telefono_Proveedor').mask("(999) 999-9999");
		jQuery('#Telefono_Representante').mask("(999) 999-9999");
		jQuery('#Movil_Representante').mask("(999) 999-9999");	
		jQuery('#Form').on('submit', function(e){
			var isvalidate = jQuery('#Form').valid();
			if (isvalidate) {
				e.preventDefault();
				var total = CalculaPorcentajeRegistroEditar();
				jQuery('#Total').attr('value', total);
				if (total == 100){
					fnEditarProveedor();
				}
				else {
					var $toast = $('#toast-example1').clone();
					jQuery('#alerts-container').append($toast.addClass('in'));
				}									
			}
			else {
					var $toast = $('#toast-example1').clone();
					jQuery('#alerts-container').append($toast.addClass('in'));
				}	
								
		});
	});
</script>
		
